/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}

.clearfix:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}


.menu > li {
    float:left;
    padding: 5px 10px;
    border:1px solid #eee;
    position:relative;
}

.submenu {
    position:absolute;
    display:none;
    top:100%;left:0;
}

.menu > li:hover .submenu{
    display: block;
    background-color:red;
}

ul {list-style: none;padding:0;}
ul>li{padding-left: 0;}
